
@import "minima";

body {
  font-family: "Inter", -apple-system, sans-serif;
  font-size: 18px;
  color: #111;
  max-width: 720px;
  margin: 0 auto;
}

.post-title {
  font-size: 2.5em;
  letter-spacing: -1px;
  font-weight: 800;
}

code {
  background: #f4f4f4;
  padding: 2px 5px;
  border-radius: 3px;
}
